.section {
  margin-top: 6rem;
}

.list {
  display: grid;
  gap: 2.5rem;
}

@media (min-width: 640px) {
  .list {
    gap: 3rem;
  }
}

@media (min-width: 768px) {
  .section {
    margin-top: 8rem;
  }
}

