.section {
  margin-top: 6rem;
}

.grid {
  display: grid;
  align-items: start;
  gap: 3rem 2.5rem;
}

@media (min-width: 768px) {
  .section {
    margin-top: 8rem;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

